/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';

/* React MDE styles and overrides */
@import '~react-mde/lib/styles/css/react-mde-all.css';

.mde-textarea-wrapper textarea.mde-text {
  font-size: 24px;
}

/* Custom styles */

body {
  position: relative;
  height: 100vh;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, serif;
  background-color: var(--blue-gray-900);
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #fff;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: white;
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

/* Buttons */

.button {
  padding: 12px 24px;
  border: 2px solid var(--gray-200);
  border-radius: 8px;
  box-shadow: 0 3px 16px rgba(0, 0, 0, 0.05);
  transition: 100ms;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.button:hover {
  cursor: pointer;
  box-shadow: 0 3px 24px rgba(0, 0, 0, 0.1);
}

.button--green {
  color: var(--white);
  border-color: var(--light-green);
  background-color: var(--light-green);
}

:root {
  --white: #fff;
  --gray-600: #838383;
  --gray-500: #a4a4a4;
  --gray-400: #cdcdcd;
  --gray-300: #dfdfdf;
  --gray-200: #eaeaea;
  --gray-100: #f1f1f1;
  --light-green: #61e786;

  --blue-gray-50: #eceff1;
  --blue-gray-100: #cfd8dc;
  --blue-gray-200: #b0bec5;
  --blue-gray-300: #90a4ae;
  --blue-gray-400: #78909c;
  --blue-gray-500: #607d8b;
  --blue-gray-600: #546e7a;
  --blue-gray-700: #455a64;
  --blue-gray-800: #37474f;
  --blue-gray-900: #263238;
}

/* Layout */

@media (min-width: 800px) {
  .container {
    width: 800px;
    margin: 0 auto;
    padding: 40px;
  }
}
